<header class="admin-header">
    <div class="header-content">
        <div class="brand-section">
            <i class="bi bi-scissors"></i>
            <h1>{{ saasConfig.name.toUpperCase()}}</h1>
            <span class="admin-badge">Panel de Administración</span>
        </div>
        <div class="user-section">
            <span class="welcome-text">Bienvenida, {{saasConfig.ownerName}}</span>
            <button class="logout-btn" (click)="onLogout()">
                <i class="bi bi-box-arrow-right"></i>
                <span class="logout">Cerrar Sesión</span>
            </button>
        </div>
    </div>
</header>