<div
  class="root"
  [ngClass]="{
    root_property1Default: property1 === 'Default',
    root_property1Deployed: property1 === 'Deployed',
  }"
  role="button"
  tabindex="0"
  [attr.aria-expanded]="property1 === 'Deployed'"
  (click)="changeState()"
  (keydown)="onKeyDown($event)"
>
  <div class="container">
    <div
      class="text"
      [id]="'faq-question-' + questionId"
      style="font-weight: 700;"
    >{{question}}</div>
    <i class="bi bi-chevron-down"
       [ngClass]="{
        'rotated': property1 === 'Deployed'}">
    </i>
  </div>

  <div
    class="answer-container"
    [ngClass]="{'answer-visible': property1 === 'Deployed'}"
    role="region"
    [attr.aria-hidden]="property1 !== 'Deployed'"
    [attr.aria-labelledby]="'faq-question-' + questionId"
  >
    <div class="container answer">
      <div class="text">{{answer}}</div>
    </div>
  </div>
</div>
