<div class="location-contact" id="location-and-contact">
  <div class="section-heading">
    <h2 class="section-heading">Ubicación y Contacto</h2>
  </div>

  <div class="content-container">
    <div class="map-container">
      @if (coords) {
      <iframe [src]="coords" width="100%" height="100%" style="border:0;" title="Ubicación de la peluquería en el mapa" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
      }
    </div>

    <div class="info-container">
      <div class="info-sections">
        <div class="info-section">
          <div class="info-heading">
            <div class="icon-wrapper">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path
                  d="M16.67 8.33C16.67 12.49 12.05 16.83 10.5 18.17a.67.67 0 0 1-1 0C7.95 16.83 3.33 12.49 3.33 8.33a6.67 6.67 0 1 1 13.34 0Z"
                  stroke="#0F172A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M10 10.83a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" stroke="#0F172A" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <h3>Dirección</h3>
          </div>
          <div class="info-text">
            <span>{{state.contactInfo().address}}</span>
          </div>
        </div>

        <div class="info-section">
          <div class="info-heading">
            <div class="icon-wrapper">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" aria-hidden="true">
                <path
                  d="M18.33 14.1v2.5a1.67 1.67 0 0 1-1.83 1.67c-2.56-.28-5.03-1.16-7.2-2.57a15.47 15.47 0 0 1-4.97-4.96A15.57 15.57 0 0 1 1.77 3.48a1.67 1.67 0 0 1 1.66-1.81h2.5a1.67 1.67 0 0 1 1.66 1.43c.1.8.3 1.6.58 2.37.15.4.14.84-.03 1.23a1.67 1.67 0 0 1-.37.56l-1.06 1.06a13.34 13.34 0 0 0 5.5 5.5l1.07-1.06a1.67 1.67 0 0 1 1.79-.37c.4.17.84.18 1.23.04a13.31 13.31 0 0 0 2.37.57 1.67 1.67 0 0 1 1.43 1.66Z"
                  stroke="#0F172A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <h3>Contacto</h3>
          </div>
          <div class="info-text">
            <span>{{state.contactInfo().phone}}</span>
          </div>
        </div>

        <div class="info-section">
          <div class="info-heading">
            <div class="icon-wrapper">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M10 18.33a8.33 8.33 0 1 0 0-16.66 8.33 8.33 0 0 0 0 16.66Z" stroke="#0F172A" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" />
                <path d="M10 5v5l3.33 1.67" stroke="#0F172A" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </div>
            <h3>Horario</h3>
          </div>
          <div class="schedule-container">
            @for (item of state.formattedSchedule(); track $index) {
            <div class="info-text"><span>{{item}}</span></div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
